{{#if error}}
    <br />
    <strong class="alert alert-danger">
        {{{error}}}
    </strong>
{{/if}}
{{#if github}}
    <h2>Here you find the GIT repo list</h2>
    <hr />
    <section>
        <div class="row">
            <div class="col-sm-4">
                {{>githubPager}}
            </div>
            <div class="col-sm-offset-4 col-sm-4">
                {{>githubUser}}
            </div>
        </div>
        {{#if github.repos}}
            {{#each github.repos}}
                <article class="well" title="{{this.name}}">
                    <a href="{{this.html_url}}" target="_blank">
                        {{this.owner.login}} @ {{this.name}}
                    </a>
                    <div>
                        Created: {{phpdate this.created_at}}, Updated: {{phpdate this.updated_at}}
                    </div>
                </article>
            {{/each}}
            {{>githubPager}}
        {{/if}}
    </section>
{{else}}
    <h2>
        Error! Please choiche antoher repository!
    </h2>
    <hr />
    {{>githubUser}}
{{/if}}