<nav>
    <label>
        Pages:
    </label>
    <ul class="pagination">
        {{#if github.links.first}}
            <li>
                <a href="{{github.links.first}}" aria-label="First">
                    <span aria-hidden="true">
                        <i class="fa fa-angle-double-left"></i>
                        First
                    </span>
                </a>
            </li>
        {{/if}}
        {{#if github.links.prev}}
            <li>
                <a href="{{github.links.prev}}" aria-label="Previous">
                    <span aria-hidden="true">
                        <i class="fa fa-angle-left"></i>
                        Prev
                    </span>
                </a>
            </li>
        {{/if}}
        {{#if github.query.page}}
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">
                        {{github.query.page}}
                    </span>
                </a>
            </li>
        {{/if}}
        {{#if github.links.next}}
            <li>
                <a href="{{github.links.next}}" aria-label="Next">
                    <span aria-hidden="true">
                        Next
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </li>
        {{/if}}
        {{#if github.links.last}}
            <li>
                <a href="{{github.links.last}}" aria-label="Last">
                    <span aria-hidden="true">
                        Last
                        <i class="fa fa-angle-double-right"></i>
                    </span>
                </a>
            </li>
        {{/if}}
    </ul>
</nav>